{
  "token":{
    "access_token":"your access token",
    "access_token_secret":"your access token secret"
  },
  "mode":{
    "talk_mode": true
  },
  "log":{
    "logging" : true,
    "log_path": "./ecplurkbot.log"
  }
}
